In [1]:
import pandas as pd, numpy as np, sys
sys.path.insert(0, '/home/croth/QTL-functions/SCRIPTS/')
import snpy

In [2]:
## Set path to GFF file
gffpath ='/home/croth/Downloads/B3502/REF/FungiDB-48_CneoformansJEC21.gff.gz'
## Load in gff
gff = snpy.loadgff(gffpath)

In [15]:
info = pd.read_csv('../GENOTYPE/INFO/AE017356.1.14.B3502.progeny_info_cols.csv.gz',index_col=0)
info.tail()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
22654,AE017356.1,762280,1358.4700,1,A.G,1,1,SNP,1.000000,0.98913
22656,AE017356.1,762307,1388.9400,1,G.A,1,1,SNP,1.000000,0.98913
22671,AE017356.1,762562,77.4753,1,C.T,1,1,SNP,1.000000,0.98913
22682,AE017356.1,762667,6493.8200,1,GTG.GTTG,4,3,ins,0.923913,0.01087
22683,AE017356.1,762694,192.0130,1,C.T,1,1,SNP,0.086957,0.00000

In [16]:
info.shape

(4389, 10)

In [43]:
dp = pd.read_csv('../GENOTYPE/DP/AE017356.1.14.B3502.progeny_depths.csv.gz',index_col=0)
af = pd.read_csv('../GENOTYPE/AF/AE017356.1.14.B3502.progeny_allele_ratios.csv.gz',index_col=0)


dp.head()

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
0,8.0,4.0,0.0,5.0,1.0,2.0,0.0,0.0,1.0,2.0,...,8.0,5.0,4.0,2.0,4.0,1.0,1.0,2.0,1.0,1.0
2,16.0,6.0,1.0,13.0,2.0,3.0,0.0,1.0,4.0,2.0,...,11.0,5.0,8.0,4.0,7.0,3.0,3.0,5.0,3.0,1.0
3,32.0,15.0,2.0,19.0,7.0,10.0,0.0,2.0,6.0,4.0,...,22.0,17.0,14.0,19.0,25.0,3.0,7.0,6.0,9.0,3.0
9,94.0,29.0,8.0,50.0,29.0,29.0,7.0,8.0,24.0,13.0,...,100.0,30.0,22.0,72.0,57.0,14.0,45.0,13.0,25.0,11.0
12,108.0,36.0,9.0,58.0,35.0,42.0,11.0,9.0,29.0,16.0,...,109.0,40.0,32.0,79.0,63.0,14.0,49.0,22.0,30.0,14.0

In [17]:
geno = pd.read_csv('../GENOTYPE/GT/AE017356.1.14.B3502.progeny_genotypes.csv.gz',index_col=0)
geno.head()

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,2.0,NaN,2.0,3.0,1.0,...,2.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
## There are none that are all zero
assert np.sum(temp.T.sum() == 0) == 0

In [18]:
## Find the invariant index
invarix = geno[(geno.T.var() == 0)].index

In [9]:
overlap = snpy.geneoverlap(info,gff)

In [13]:
overlap[(overlap.Gene=='CNN01270') & (overlap.index.isin(invarix))]

Empty DataFrame
Columns: [Seqid, Pos, Qual, Nalleles, Alleles, Maxlen, Minlen, Type, Callrate, MAF, Strand, Gene, Description]
Index: []

In [28]:
geno.columns

Index(['JEC21', 'B3502_C1_37', 'B3502_D1', 'B3502_C1', 'B3502_B7', 'B10',
       'B05', 'B03', 'B02', 'A42', 'B20', 'A41', 'A40', 'B07', 'A39', 'B11',
       'A38', 'A36', 'A35', 'B_33', 'B3502_A1', 'B_21', 'B_32', 'B04', 'A18',
       'B_31', 'B_29', 'A26', 'NIH433', 'A01', 'A12', 'B12', 'B09', 'B_24',
       'B_23', 'A09', 'B_25', 'I641', 'A10', 'B_13', 'A37', 'B_19', 'CF830',
       'B06', 'B_30', 'I643', 'B_14', 'B3502_B1', 'B08', 'B_22', 'B_26', 'A43',
       'A24', 'B3502_A7', 'B_28', 'B_16', 'A22', 'I645', 'A03', 'B_15',
       'NIH12', 'A27', 'JEC20', 'A04', 'B_27', 'B_17', 'A29', 'A05', 'A25',
       'A06', 'B01', 'A07', 'A02', 'A08', 'A21', 'A11', 'A13', 'B_18', 'A28',
       'A44', 'A19', 'A14', 'A15', 'A16', 'A17', 'A20', 'A23', 'A30', 'A31',
       'A33', 'A32', 'A34'],
      dtype='object')

In [36]:
progeny = [s for s in geno.columns if len(s)<=4]
progeny[:5]

['B10', 'B05', 'B03', 'B02', 'A42']

In [39]:
ancestors = sorted([s for s in geno.columns if len(s)>4])
ancestors

['B3502_A1',
 'B3502_A7',
 'B3502_B1',
 'B3502_B7',
 'B3502_C1',
 'B3502_C1_37',
 'B3502_D1',
 'CF830',
 'JEC20',
 'JEC21',
 'NIH12',
 'NIH433']

In [45]:
af[(overlap.Gene=='CNN01270')][ancestors].T.min()

9324    0.98
9341    1.00
9354    0.99
9356    1.00
9358    1.00
9375    1.00
9379    1.00
9384    0.99
9390    1.00
9393    0.99
9404    0.99
9407    1.00
9410    1.00
dtype: float64

In [46]:
dp[(overlap.Gene=='CNN01270')][ancestors].T.min()

9324    38.0
9341    46.0
9354    39.0
9356    45.0
9358    35.0
9375    33.0
9379    39.0
9384    27.0
9390    31.0
9393    28.0
9404    61.0
9407    62.0
9410    48.0
dtype: float64

In [40]:
geno[(overlap.Gene=='CNN01270')][ancestors]

,B3502_A1,B3502_A7,B3502_B1,B3502_B7,B3502_C1,B3502_C1_37,B3502_D1,CF830,JEC20,JEC21,NIH12,NIH433
9324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9384,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
overlap[(overlap.Gene=='CNN01270')]

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
9324,AE017356.1,386984,2252.77,1,T.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9341,AE017356.1,387357,2289.84,1,G.T,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9354,AE017356.1,388178,2397.41,1,G.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9356,AE017356.1,388211,2196.51,1,G.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9358,AE017356.1,388238,2023.84,1,A.C,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9375,AE017356.1,388554,2015.57,1,G.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9379,AE017356.1,388574,1862.01,1,A.G,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9384,AE017356.1,388777,140930.00,1,TCAG.TCAT,4,4,MNP,1.0,0.467391,1,CNN01270,hypothetical protein
9390,AE017356.1,388949,1674.03,1,G.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9393,AE017356.1,389060,1774.22,1,C.A,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9404,AE017356.1,389345,3002.47,1,T.G,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9407,AE017356.1,389465,2295.41,1,G.C,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein
9410,AE017356.1,389586,1645.45,1,A.G,1,1,SNP,1.0,0.989130,1,CNN01270,hypothetical protein

In [11]:
overlap.head()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.000000,0,NaN,NaN
2,AE017356.1,19,5638.980,5,ACCCCCTAACCCCCCCTAA.ACCCCCTAACCCCCTAA.ACCCCCTA...,25,17,del,0.858696,0.043478,0,NaN,NaN
3,AE017356.1,45,410.268,1,ACCCCCTA.ACCCTA,8,6,del,0.891304,0.869565,0,NaN,NaN
9,AE017356.1,94,2262.700,1,AATTC.CATTC,5,5,MNP,1.000000,0.815217,0,NaN,NaN
12,AE017356.1,102,4365.450,2,TACCA.TAACA.CAACC,5,5,MNP,1.000000,0.804348,0,NaN,NaN

In [46]:
test = snpy.geneoverlap(info.loc[invarix,:],gff)

In [47]:
test

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.0,0,NaN,NaN
24,AE017356.1,207,244478.000,1,G.C,1,1,SNP,0.989130,0.0,0,NaN,NaN
749,AE017356.1,32994,8082.080,1,ATG.ACTG,4,3,ins,0.913043,0.0,0,NaN,NaN
752,AE017356.1,33013,220400.000,1,CTGTCG.CTTGTCCG,8,6,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
753,AE017356.1,33028,279791.000,1,GAAACAG.GCAAACAG,8,7,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
754,AE017356.1,33037,299299.000,1,TTC.TATC,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
755,AE017356.1,33070,353088.000,1,AGC.AGGC,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
756,AE017356.1,33090,333294.000,1,AGGTA.AGGGTA,6,5,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
757,AE017356.1,33096,333717.000,1,CGT.CGGT,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
2112,AE017356.1,101761,5223960.000,1,CTT.CG,3,2,del,1.000000,0.0,1,CNN00260,sugar transporter putative
2113,AE017356.1,101773,3274370.000,1,ACT.ACTAGCT,7,3,ins,1.000000,0.0,1,CNN00260,sugar transporter putative
2120,AE017356.1,101954,5544680.000,1,G.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
2121,AE017356.1,101964,6221910.000,1,C.G,1,1,SNP,1.000000,0.0,0,NaN,NaN
2122,AE017356.1,101982,6084090.000,1,CTACGT.CT,6,2,del,1.000000,0.0,0,NaN,NaN
2123,AE017356.1,102035,6118540.000,1,T.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
3478,AE017356.1,184564,223441.000,1,TCCCCGGT.TCCCGGT,8,7,del,1.000000,0.0,1,CNN00540,conserved hypothetical protein
11562,AE017356.1,461581,2143880.000,1,C.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11563,AE017356.1,461586,2211420.000,1,T.C,1,1,SNP,1.000000,0.0,0,NaN,NaN
11564,AE017356.1,461594,2339500.000,1,CCCATA.TCCATATA,8,6,ins,1.000000,0.0,0,NaN,NaN
11565,AE017356.1,461613,3928920.000,1,A.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11566,AE017356.1,461628,4469770.000,1,A.G,1,1,SNP,1.000000,0.0,0,NaN,NaN
11567,AE017356.1,461640,3921020.000,1,CTAATAAG.CTAAG,8,5,del,1.000000,0.0,0,NaN,NaN
11568,AE017356.1,461653,4356160.000,1,CAATAAA.GAGTACC,7,7,MNP,1.000000,0.0,0,NaN,NaN
11569,AE017356.1,461677,4319960.000,1,CAATAATAG.CAATAG,9,6,del,1.000000,0.0,0,NaN,NaN
11570,AE017356.1,461687,4637280.000,1,A.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11571,AE017356.1,461696,4613960.000,1,G.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
12677,AE017356.1,517133,224598.000,1,AATT.AGTT,4,4,MNP,1.000000,0.0,-1,CNN01790,response to unfolded-protein putative
14218,AE017356.1,578049,2542.510,1,TCCCCAT.TCCCAT,7,6,del,0.576087,0.0,0,NaN,NaN
14323,AE017356.1,581812,6002890.000,1,G.A,1,1,SNP,1.000000,0.0,1,CNN01980,unspecified product
16586,AE017356.1,617204,395953.000,1,N.G,1,1,SNP,0.989130,0.0,0,NaN,NaN
18819,AE017356.1,665159,11420.500,1,NN.CA,2,2,MNP,0.989130,0.0,0,NaN,NaN
20752,AE017356.1,715601,200421.000,1,GAAAGGT.GAAGGTG,7,7,MNP,1.000000,0.0,1,CNN02320,1 3-beta-glucan synthase putative
20754,AE017356.1,715671,180469.000,1,GTTTGTTT.GTTGTTT,8,7,del,1.000000,0.0,1,CNN02320,1 3-beta-glucan synthase putative
22511,AE017356.1,760163,317386.000,1,CTTTCCA.CTTCCA,7,6,del,0.989130,0.0,0,NaN,NaN
22523,AE017356.1,760742,106387.000,1,CATTTTTAAAGAA.CATTTAAAGAA,13,11,del,1.000000,0.0,-1,CNN02460,retrotransposable element slacs 132 kda protei...
22625,AE017356.1,761767,443837.000,1,T.C,1,1,SNP,1.000000,0.0,-1,CNN02460,retrotransposable element slacs 132 kda protei...
22683,AE017356.1,762694,192.013,1,C.T,1,1,SNP,0.086957,0.0,0,NaN,NaN

In [43]:
?snpy.geneoverlap

Signature:
snpy.geneoverlap(
    df,
    gff,
    Pos='Pos',
    Seqid='Seqid',
    Type='Type',
    Type_gene='gene',
    Gene='Gene',
    Start='Start',
    End='End',
    Attribute='Attribute',
    Description='description=',
    Strand='Strand',
    overlap_columns=['gix', 'Gene', 'Description', 'Strand'],
    Window=100000,
)
Docstring: Returns overlap of genes annotated in GFF with variants in DF
File:      ~/QTL-functions/SCRIPTS/snpy.py
Type:      function

In [32]:
info.loc[invarix]

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.0
24,AE017356.1,207,244478.000,1,G.C,1,1,SNP,0.989130,0.0
749,AE017356.1,32994,8082.080,1,ATG.ACTG,4,3,ins,0.913043,0.0
752,AE017356.1,33013,220400.000,1,CTGTCG.CTTGTCCG,8,6,ins,1.000000,0.0
753,AE017356.1,33028,279791.000,1,GAAACAG.GCAAACAG,8,7,ins,1.000000,0.0
754,AE017356.1,33037,299299.000,1,TTC.TATC,4,3,ins,1.000000,0.0
755,AE017356.1,33070,353088.000,1,AGC.AGGC,4,3,ins,1.000000,0.0
756,AE017356.1,33090,333294.000,1,AGGTA.AGGGTA,6,5,ins,1.000000,0.0
757,AE017356.1,33096,333717.000,1,CGT.CGGT,4,3,ins,1.000000,0.0
2112,AE017356.1,101761,5223960.000,1,CTT.CG,3,2,del,1.000000,0.0
2113,AE017356.1,101773,3274370.000,1,ACT.ACTAGCT,7,3,ins,1.000000,0.0
2120,AE017356.1,101954,5544680.000,1,G.A,1,1,SNP,1.000000,0.0
2121,AE017356.1,101964,6221910.000,1,C.G,1,1,SNP,1.000000,0.0
2122,AE017356.1,101982,6084090.000,1,CTACGT.CT,6,2,del,1.000000,0.0
2123,AE017356.1,102035,6118540.000,1,T.A,1,1,SNP,1.000000,0.0
3478,AE017356.1,184564,223441.000,1,TCCCCGGT.TCCCGGT,8,7,del,1.000000,0.0
11562,AE017356.1,461581,2143880.000,1,C.T,1,1,SNP,1.000000,0.0
11563,AE017356.1,461586,2211420.000,1,T.C,1,1,SNP,1.000000,0.0
11564,AE017356.1,461594,2339500.000,1,CCCATA.TCCATATA,8,6,ins,1.000000,0.0
11565,AE017356.1,461613,3928920.000,1,A.T,1,1,SNP,1.000000,0.0
11566,AE017356.1,461628,4469770.000,1,A.G,1,1,SNP,1.000000,0.0
11567,AE017356.1,461640,3921020.000,1,CTAATAAG.CTAAG,8,5,del,1.000000,0.0
11568,AE017356.1,461653,4356160.000,1,CAATAAA.GAGTACC,7,7,MNP,1.000000,0.0
11569,AE017356.1,461677,4319960.000,1,CAATAATAG.CAATAG,9,6,del,1.000000,0.0
11570,AE017356.1,461687,4637280.000,1,A.T,1,1,SNP,1.000000,0.0
11571,AE017356.1,461696,4613960.000,1,G.A,1,1,SNP,1.000000,0.0
12677,AE017356.1,517133,224598.000,1,AATT.AGTT,4,4,MNP,1.000000,0.0
14218,AE017356.1,578049,2542.510,1,TCCCCAT.TCCCAT,7,6,del,0.576087,0.0
14323,AE017356.1,581812,6002890.000,1,G.A,1,1,SNP,1.000000,0.0
16586,AE017356.1,617204,395953.000,1,N.G,1,1,SNP,0.989130,0.0
18819,AE017356.1,665159,11420.500,1,NN.CA,2,2,MNP,0.989130,0.0
20752,AE017356.1,715601,200421.000,1,GAAAGGT.GAAGGTG,7,7,MNP,1.000000,0.0
20754,AE017356.1,715671,180469.000,1,GTTTGTTT.GTTGTTT,8,7,del,1.000000,0.0
22511,AE017356.1,760163,317386.000,1,CTTTCCA.CTTCCA,7,6,del,0.989130,0.0
22523,AE017356.1,760742,106387.000,1,CATTTTTAAAGAA.CATTTAAAGAA,13,11,del,1.000000,0.0
22625,AE017356.1,761767,443837.000,1,T.C,1,1,SNP,1.000000,0.0
22683,AE017356.1,762694,192.013,1,C.T,1,1,SNP,0.086957,0.0

In [21]:
temp[(np.sum(temp == 1,axis=1) == 92)].shape

(29, 92)

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
22654,AE017356.1,762280,1358.4700,1,A.G,1,1,SNP,1.000000,0.98913
22656,AE017356.1,762307,1388.9400,1,G.A,1,1,SNP,1.000000,0.98913
22671,AE017356.1,762562,77.4753,1,C.T,1,1,SNP,1.000000,0.98913
22682,AE017356.1,762667,6493.8200,1,GTG.GTTG,4,3,ins,0.923913,0.01087
22683,AE017356.1,762694,192.0130,1,C.T,1,1,SNP,0.086957,0.00000

In [8]:
info.tail()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
22654,AE017356.1,762280,1358.4700,1,A.G,1,1,SNP,1.000000,0.98913
22656,AE017356.1,762307,1388.9400,1,G.A,1,1,SNP,1.000000,0.98913
22671,AE017356.1,762562,77.4753,1,C.T,1,1,SNP,1.000000,0.98913
22682,AE017356.1,762667,6493.8200,1,GTG.GTTG,4,3,ins,0.923913,0.01087
22683,AE017356.1,762694,192.0130,1,C.T,1,1,SNP,0.086957,0.00000

In [9]:
temp[(temp.JEC21==1)]

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,2.0,NaN,2.0,3.0,1.0,...,2.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0
24,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
69,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22598,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22601,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22603,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22625,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22682,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0