In [1]:
import pandas as pd, numpy as np, sys
sys.path.insert(0, '/home/croth/QTL-functions/SCRIPTS/')
import snpy

In [2]:
## Set path to GFF file
gffpath ='/home/croth/Downloads/B3502/REF/FungiDB-48_CneoformansJEC21.gff.gz'
## Load in gff
gff = snpy.loadgff(gffpath)

In [4]:
info = pd.read_csv('../GENOTYPE/INFO/AE017343.1.3.B3502.progeny_info_cols.csv.gz',index_col=0)
info.tail()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
76085,AE017343.1,2105475,102.985000,2,TGGGGTTA.TGGGGTTAGGGGGTTAGGGGGTTA.TGGGGTTAGGGG...,24,8,ins,0.967391,0.945652
76086,AE017343.1,2105483,46.398900,1,T.G,1,1,SNP,0.239130,0.119565
76088,AE017343.1,2105607,0.284242,1,C.T,1,1,SNP,0.206522,0.195652
76089,AE017343.1,2105624,107.966000,1,CCCTCGCCTTTACTAACTCGACACCTTAGGGGGGTTA.CCCTCGCC...,37,17,del,0.152174,0.141304
76095,AE017343.1,2105736,0.297694,1,T.G,1,1,SNP,0.423913,0.260870

In [5]:
info.shape

(12237, 10)

In [6]:
dp = pd.read_csv('../GENOTYPE/DP/AE017343.1.3.B3502.progeny_depths.csv.gz',index_col=0)
af = pd.read_csv('../GENOTYPE/AF/AE017343.1.3.B3502.progeny_allele_ratios.csv.gz',index_col=0)


dp.head()

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
8,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,3.0,2.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0
11,6.0,3.0,0.0,2.0,4.0,1.0,2.0,2.0,1.0,0.0,...,1.0,1.0,4.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
12,11.0,5.0,0.0,2.0,5.0,2.0,2.0,1.0,1.0,0.0,...,2.0,2.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
geno = pd.read_csv('../GENOTYPE/GT/AE017343.1.3.B3502.progeny_genotypes.csv.gz',index_col=0)
geno.head()

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
8,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
9,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
10,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN
11,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,NaN,0.0,NaN,NaN,0.0,NaN
12,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN

In [9]:
## There are none that are all zero
assert np.sum(geno.T.sum() == 0) == 0

In [10]:
## Find the invariant index
invarix = geno[(geno.T.var() == 0)].index
len(invarix)

9

In [17]:
gene = 'CNC06490'

In [16]:
overlap = snpy.geneoverlap(info,gff[(gff.Gene==gene)])

In [19]:
overlap[(overlap.Gene==gene)]

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
66819,AE017343.1,1892403,2121.94,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66820,AE017343.1,1892471,2282.65,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66821,AE017343.1,1892553,2319.66,1,G.A,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66823,AE017343.1,1892603,2600.15,1,G.A,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66824,AE017343.1,1892615,2597.74,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66825,AE017343.1,1892756,2526.14,1,C.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66828,AE017343.1,1893305,3056.06,1,G.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66834,AE017343.1,1893898,2375.29,1,C.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66836,AE017343.1,1894056,156278.00,1,G.A,1,1,SNP,1.0,0.434783,-1,CNC06490,Rho GTPase activator putative
66841,AE017343.1,1894318,2224.38,1,G.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66843,AE017343.1,1894381,2343.85,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66860,AE017343.1,1895031,3109.12,1,A.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66863,AE017343.1,1895140,2578.21,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66866,AE017343.1,1895377,2718.03,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66868,AE017343.1,1895602,2625.33,1,GCCA.ACCC,4,4,MNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66875,AE017343.1,1896166,3086.22,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative

In [20]:
overlap[(overlap.Gene==gene) & (overlap.index.isin(invarix))]

Empty DataFrame
Columns: [Seqid, Pos, Qual, Nalleles, Alleles, Maxlen, Minlen, Type, Callrate, MAF, Strand, Gene, Description]
Index: []

In [21]:
progeny = [s for s in geno.columns if len(s)<=4]
progeny[:5]

['B10', 'B05', 'B03', 'B02', 'A42']

In [22]:
ancestors = sorted([s for s in geno.columns if len(s)>4])
ancestors

['B3502_A1',
 'B3502_A7',
 'B3502_B1',
 'B3502_B7',
 'B3502_C1',
 'B3502_C1_37',
 'B3502_D1',
 'CF830',
 'JEC20',
 'JEC21',
 'NIH12',
 'NIH433']

In [23]:
af[(overlap.Gene==gene)][ancestors].T.min()

66819    1.00
66820    0.99
66821    1.00
66823    1.00
66824    0.98
66825    1.00
66828    0.99
66834    1.00
66836    1.00
66841    0.98
66843    1.00
66860    0.99
66863    1.00
66866    1.00
66868    1.00
66875    0.99
dtype: float64

In [24]:
dp[(overlap.Gene==gene)][ancestors].T.min()

66819    63.0
66820    51.0
66821    52.0
66823    51.0
66824    55.0
66825    58.0
66828    71.0
66834    77.0
66836    65.0
66841    34.0
66843    37.0
66860    56.0
66863    56.0
66866    45.0
66868    41.0
66875    64.0
dtype: float64

In [25]:
geno[(overlap.Gene==gene)][ancestors]

,B3502_A1,B3502_A7,B3502_B1,B3502_B7,B3502_C1,B3502_C1_37,B3502_D1,CF830,JEC20,JEC21,NIH12,NIH433
66819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66834,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66836,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
66841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
66875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
overlap[(overlap.Gene==gene)]

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
66819,AE017343.1,1892403,2121.94,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66820,AE017343.1,1892471,2282.65,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66821,AE017343.1,1892553,2319.66,1,G.A,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66823,AE017343.1,1892603,2600.15,1,G.A,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66824,AE017343.1,1892615,2597.74,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66825,AE017343.1,1892756,2526.14,1,C.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66828,AE017343.1,1893305,3056.06,1,G.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66834,AE017343.1,1893898,2375.29,1,C.T,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66836,AE017343.1,1894056,156278.00,1,G.A,1,1,SNP,1.0,0.434783,-1,CNC06490,Rho GTPase activator putative
66841,AE017343.1,1894318,2224.38,1,G.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66843,AE017343.1,1894381,2343.85,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66860,AE017343.1,1895031,3109.12,1,A.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66863,AE017343.1,1895140,2578.21,1,A.G,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66866,AE017343.1,1895377,2718.03,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66868,AE017343.1,1895602,2625.33,1,GCCA.ACCC,4,4,MNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative
66875,AE017343.1,1896166,3086.22,1,T.C,1,1,SNP,1.0,0.989130,-1,CNC06490,Rho GTPase activator putative

In [11]:
overlap.head()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.000000,0,NaN,NaN
2,AE017356.1,19,5638.980,5,ACCCCCTAACCCCCCCTAA.ACCCCCTAACCCCCTAA.ACCCCCTA...,25,17,del,0.858696,0.043478,0,NaN,NaN
3,AE017356.1,45,410.268,1,ACCCCCTA.ACCCTA,8,6,del,0.891304,0.869565,0,NaN,NaN
9,AE017356.1,94,2262.700,1,AATTC.CATTC,5,5,MNP,1.000000,0.815217,0,NaN,NaN
12,AE017356.1,102,4365.450,2,TACCA.TAACA.CAACC,5,5,MNP,1.000000,0.804348,0,NaN,NaN

In [46]:
test = snpy.geneoverlap(info.loc[invarix,:],gff)

In [47]:
test

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF,Strand,Gene,Description
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.0,0,NaN,NaN
24,AE017356.1,207,244478.000,1,G.C,1,1,SNP,0.989130,0.0,0,NaN,NaN
749,AE017356.1,32994,8082.080,1,ATG.ACTG,4,3,ins,0.913043,0.0,0,NaN,NaN
752,AE017356.1,33013,220400.000,1,CTGTCG.CTTGTCCG,8,6,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
753,AE017356.1,33028,279791.000,1,GAAACAG.GCAAACAG,8,7,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
754,AE017356.1,33037,299299.000,1,TTC.TATC,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
755,AE017356.1,33070,353088.000,1,AGC.AGGC,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
756,AE017356.1,33090,333294.000,1,AGGTA.AGGGTA,6,5,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
757,AE017356.1,33096,333717.000,1,CGT.CGGT,4,3,ins,1.000000,0.0,-1,CNN00100,hypothetical protein
2112,AE017356.1,101761,5223960.000,1,CTT.CG,3,2,del,1.000000,0.0,1,CNN00260,sugar transporter putative
2113,AE017356.1,101773,3274370.000,1,ACT.ACTAGCT,7,3,ins,1.000000,0.0,1,CNN00260,sugar transporter putative
2120,AE017356.1,101954,5544680.000,1,G.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
2121,AE017356.1,101964,6221910.000,1,C.G,1,1,SNP,1.000000,0.0,0,NaN,NaN
2122,AE017356.1,101982,6084090.000,1,CTACGT.CT,6,2,del,1.000000,0.0,0,NaN,NaN
2123,AE017356.1,102035,6118540.000,1,T.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
3478,AE017356.1,184564,223441.000,1,TCCCCGGT.TCCCGGT,8,7,del,1.000000,0.0,1,CNN00540,conserved hypothetical protein
11562,AE017356.1,461581,2143880.000,1,C.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11563,AE017356.1,461586,2211420.000,1,T.C,1,1,SNP,1.000000,0.0,0,NaN,NaN
11564,AE017356.1,461594,2339500.000,1,CCCATA.TCCATATA,8,6,ins,1.000000,0.0,0,NaN,NaN
11565,AE017356.1,461613,3928920.000,1,A.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11566,AE017356.1,461628,4469770.000,1,A.G,1,1,SNP,1.000000,0.0,0,NaN,NaN
11567,AE017356.1,461640,3921020.000,1,CTAATAAG.CTAAG,8,5,del,1.000000,0.0,0,NaN,NaN
11568,AE017356.1,461653,4356160.000,1,CAATAAA.GAGTACC,7,7,MNP,1.000000,0.0,0,NaN,NaN
11569,AE017356.1,461677,4319960.000,1,CAATAATAG.CAATAG,9,6,del,1.000000,0.0,0,NaN,NaN
11570,AE017356.1,461687,4637280.000,1,A.T,1,1,SNP,1.000000,0.0,0,NaN,NaN
11571,AE017356.1,461696,4613960.000,1,G.A,1,1,SNP,1.000000,0.0,0,NaN,NaN
12677,AE017356.1,517133,224598.000,1,AATT.AGTT,4,4,MNP,1.000000,0.0,-1,CNN01790,response to unfolded-protein putative
14218,AE017356.1,578049,2542.510,1,TCCCCAT.TCCCAT,7,6,del,0.576087,0.0,0,NaN,NaN
14323,AE017356.1,581812,6002890.000,1,G.A,1,1,SNP,1.000000,0.0,1,CNN01980,unspecified product
16586,AE017356.1,617204,395953.000,1,N.G,1,1,SNP,0.989130,0.0,0,NaN,NaN
18819,AE017356.1,665159,11420.500,1,NN.CA,2,2,MNP,0.989130,0.0,0,NaN,NaN
20752,AE017356.1,715601,200421.000,1,GAAAGGT.GAAGGTG,7,7,MNP,1.000000,0.0,1,CNN02320,1 3-beta-glucan synthase putative
20754,AE017356.1,715671,180469.000,1,GTTTGTTT.GTTGTTT,8,7,del,1.000000,0.0,1,CNN02320,1 3-beta-glucan synthase putative
22511,AE017356.1,760163,317386.000,1,CTTTCCA.CTTCCA,7,6,del,0.989130,0.0,0,NaN,NaN
22523,AE017356.1,760742,106387.000,1,CATTTTTAAAGAA.CATTTAAAGAA,13,11,del,1.000000,0.0,-1,CNN02460,retrotransposable element slacs 132 kda protei...
22625,AE017356.1,761767,443837.000,1,T.C,1,1,SNP,1.000000,0.0,-1,CNN02460,retrotransposable element slacs 132 kda protei...
22683,AE017356.1,762694,192.013,1,C.T,1,1,SNP,0.086957,0.0,0,NaN,NaN

In [43]:
?snpy.geneoverlap

Signature:
snpy.geneoverlap(
    df,
    gff,
    Pos='Pos',
    Seqid='Seqid',
    Type='Type',
    Type_gene='gene',
    Gene='Gene',
    Start='Start',
    End='End',
    Attribute='Attribute',
    Description='description=',
    Strand='Strand',
    overlap_columns=['gix', 'Gene', 'Description', 'Strand'],
    Window=100000,
)
Docstring: Returns overlap of genes annotated in GFF with variants in DF
File:      ~/QTL-functions/SCRIPTS/snpy.py
Type:      function

In [32]:
info.loc[invarix]

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
0,AE017356.1,6,4784.790,1,T.C,1,1,SNP,0.750000,0.0
24,AE017356.1,207,244478.000,1,G.C,1,1,SNP,0.989130,0.0
749,AE017356.1,32994,8082.080,1,ATG.ACTG,4,3,ins,0.913043,0.0
752,AE017356.1,33013,220400.000,1,CTGTCG.CTTGTCCG,8,6,ins,1.000000,0.0
753,AE017356.1,33028,279791.000,1,GAAACAG.GCAAACAG,8,7,ins,1.000000,0.0
754,AE017356.1,33037,299299.000,1,TTC.TATC,4,3,ins,1.000000,0.0
755,AE017356.1,33070,353088.000,1,AGC.AGGC,4,3,ins,1.000000,0.0
756,AE017356.1,33090,333294.000,1,AGGTA.AGGGTA,6,5,ins,1.000000,0.0
757,AE017356.1,33096,333717.000,1,CGT.CGGT,4,3,ins,1.000000,0.0
2112,AE017356.1,101761,5223960.000,1,CTT.CG,3,2,del,1.000000,0.0
2113,AE017356.1,101773,3274370.000,1,ACT.ACTAGCT,7,3,ins,1.000000,0.0
2120,AE017356.1,101954,5544680.000,1,G.A,1,1,SNP,1.000000,0.0
2121,AE017356.1,101964,6221910.000,1,C.G,1,1,SNP,1.000000,0.0
2122,AE017356.1,101982,6084090.000,1,CTACGT.CT,6,2,del,1.000000,0.0
2123,AE017356.1,102035,6118540.000,1,T.A,1,1,SNP,1.000000,0.0
3478,AE017356.1,184564,223441.000,1,TCCCCGGT.TCCCGGT,8,7,del,1.000000,0.0
11562,AE017356.1,461581,2143880.000,1,C.T,1,1,SNP,1.000000,0.0
11563,AE017356.1,461586,2211420.000,1,T.C,1,1,SNP,1.000000,0.0
11564,AE017356.1,461594,2339500.000,1,CCCATA.TCCATATA,8,6,ins,1.000000,0.0
11565,AE017356.1,461613,3928920.000,1,A.T,1,1,SNP,1.000000,0.0
11566,AE017356.1,461628,4469770.000,1,A.G,1,1,SNP,1.000000,0.0
11567,AE017356.1,461640,3921020.000,1,CTAATAAG.CTAAG,8,5,del,1.000000,0.0
11568,AE017356.1,461653,4356160.000,1,CAATAAA.GAGTACC,7,7,MNP,1.000000,0.0
11569,AE017356.1,461677,4319960.000,1,CAATAATAG.CAATAG,9,6,del,1.000000,0.0
11570,AE017356.1,461687,4637280.000,1,A.T,1,1,SNP,1.000000,0.0
11571,AE017356.1,461696,4613960.000,1,G.A,1,1,SNP,1.000000,0.0
12677,AE017356.1,517133,224598.000,1,AATT.AGTT,4,4,MNP,1.000000,0.0
14218,AE017356.1,578049,2542.510,1,TCCCCAT.TCCCAT,7,6,del,0.576087,0.0
14323,AE017356.1,581812,6002890.000,1,G.A,1,1,SNP,1.000000,0.0
16586,AE017356.1,617204,395953.000,1,N.G,1,1,SNP,0.989130,0.0
18819,AE017356.1,665159,11420.500,1,NN.CA,2,2,MNP,0.989130,0.0
20752,AE017356.1,715601,200421.000,1,GAAAGGT.GAAGGTG,7,7,MNP,1.000000,0.0
20754,AE017356.1,715671,180469.000,1,GTTTGTTT.GTTGTTT,8,7,del,1.000000,0.0
22511,AE017356.1,760163,317386.000,1,CTTTCCA.CTTCCA,7,6,del,0.989130,0.0
22523,AE017356.1,760742,106387.000,1,CATTTTTAAAGAA.CATTTAAAGAA,13,11,del,1.000000,0.0
22625,AE017356.1,761767,443837.000,1,T.C,1,1,SNP,1.000000,0.0
22683,AE017356.1,762694,192.013,1,C.T,1,1,SNP,0.086957,0.0

In [21]:
temp[(np.sum(temp == 1,axis=1) == 92)].shape

(29, 92)

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
22654,AE017356.1,762280,1358.4700,1,A.G,1,1,SNP,1.000000,0.98913
22656,AE017356.1,762307,1388.9400,1,G.A,1,1,SNP,1.000000,0.98913
22671,AE017356.1,762562,77.4753,1,C.T,1,1,SNP,1.000000,0.98913
22682,AE017356.1,762667,6493.8200,1,GTG.GTTG,4,3,ins,0.923913,0.01087
22683,AE017356.1,762694,192.0130,1,C.T,1,1,SNP,0.086957,0.00000

In [8]:
info.tail()

,Seqid,Pos,Qual,Nalleles,Alleles,Maxlen,Minlen,Type,Callrate,MAF
22654,AE017356.1,762280,1358.4700,1,A.G,1,1,SNP,1.000000,0.98913
22656,AE017356.1,762307,1388.9400,1,G.A,1,1,SNP,1.000000,0.98913
22671,AE017356.1,762562,77.4753,1,C.T,1,1,SNP,1.000000,0.98913
22682,AE017356.1,762667,6493.8200,1,GTG.GTTG,4,3,ins,0.923913,0.01087
22683,AE017356.1,762694,192.0130,1,C.T,1,1,SNP,0.086957,0.00000

In [9]:
temp[(temp.JEC21==1)]

,JEC21,B3502_C1_37,B3502_D1,B3502_C1,B3502_B7,B10,B05,B03,B02,A42,...,A15,A16,A17,A20,A23,A30,A31,A33,A32,A34
0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,2.0,NaN,2.0,3.0,1.0,...,2.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0
24,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
69,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22598,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22601,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22603,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22625,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22682,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0