In [1]:
import numpy as np, pandas as pd
import QTLfunctions as QTLfun

In [2]:
## Set phenotype path
phenopath = '../PHENOTYPE/202011_WGS_B3502Progeny_for_QTL.xlsx'
pheno = pd.read_excel(phenopath)
pheno.tail()

,gDNA sample for WGS,Cross_Progeny,Phenotype on MS (N-no filamentation; Y-filamentation; L-giant cells; T-transgressive filamentation),Notes
52,B_09,1. B3502A1_x_CF830_Random12,N,NaN
53,B_10,1. B3502A1_x_CF830_Random14,N,NaN
54,B_11,1. B3502A1_x_CF830_Random20,T,NaN
55,B_12,2. B3502B1_x_CF830_Random01,N,NaN
56,B_20,2. B3502B1_x_CF830_Random12,Y,"Replacing sample ""SS_20201123_H99_03"""

In [3]:
## Make a numeric map of phenotypes
unipheno = sorted(pheno[pheno.columns[2]].unique())

npheno = np.array([3,0,0,2,1],dtype=float)

pdict = dict(zip(unipheno,npheno))

pheno['Phenotype'] = pheno[pheno.columns[2]].replace(pdict)
pheno['Strain'] = [''.join(a.split('_')) 
                   for a in pheno[pheno.columns[0]].tolist()]

print(unipheno,'\n',npheno)

['L', 'N', 'N (with rare spots of T)', 'T', 'Y']
 [3. 0. 0. 2. 1.]

In [4]:
pheno.head()

,gDNA sample for WGS,Cross_Progeny,Phenotype on MS (N-no filamentation; Y-filamentation; L-giant cells; T-transgressive filamentation),Notes,Phenotype,Strain
0,A_01,1. B3502A1_x_CF830_BasidiumSpecific_01,N,NaN,0.0,A01
1,A_02,1. B3502A1_x_CF830_BasidiumSpecific_02,Y,NaN,1.0,A02
2,A_03,1. B3502A1_x_CF830_BasidiumSpecific_04,N,NaN,0.0,A03
3,A_04,1. B3502A1_x_CF830_BasidiumSpecific_09,L,NaN,3.0,A04
4,A_05,1. B3502A1_x_CF830_BasidiumSpecific_13,N (with rare spots of T),NaN,0.0,A05

In [5]:
save_cols = pheno.columns.values[[1,2,4,5]]
save_cols

array(['Cross_Progeny',
       'Phenotype on MS (N-no filamentation; Y-filamentation; L-giant cells; T-transgressive filamentation)',
       'Phenotype', 'Strain'], dtype=object)

In [6]:
pheno[save_cols].to_csv('../PHENOTYPE/202011_WGS_B3502Progeny_phenotypes.csv.gz',
            index=False)

In [7]:
pheno.groupby('Phenotype').count()

,gDNA sample for WGS,Cross_Progeny,Phenotype on MS (N-no filamentation; Y-filamentation; L-giant cells; T-transgressive filamentation),Notes,Strain
Phenotype,,,,,
0.0,28,28,28,0,28
1.0,13,13,13,1,13
2.0,6,6,6,0,6
3.0,10,10,10,0,10